PORT=4000
SESSION_SECRET=eci-tn-media-monitoring-secret-2026
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
NODE_ENV=development
ADMIN_PASSWORD=your-admin-password
DISTRICT_PASSWORD_SUFFIX=@2026
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
MONGODB_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/eci-monitoring?retryWrites=true&w=majority
